*{
    margin: 0;
    padding: 0;
}

.section{
    overflow: hidden;
    position: relative;
}

/*第一屏*/
.first{
    padding-top: 90px;
}
.first .logo{
    width: 251px;
    height: 186px;
    margin: 0 auto;
    background: url("../images/logo.png");
}
.first .text{
    text-align: center;
    line-height: 1;
    margin: 85px 0 45px;
}
.info{

    height: 49px;
    background: url("../images/info_1.png") center center no-repeat;
}
.text img{
    margin: 0 24px;
    opacity: 0;
}

.first.current img{
    transition: all  .5s;
    opacity: 1;
    margin: 0 10px;
}
/*第二屏*/
.second>div{
    padding: 200px 200px;
    display: flex;
    justify-content: space-between;
    align-content: center;

    /*padding-left: 100px;*/
}
.second .shield{
    height: 482px;
    width: 424px;
}
.second .info{
    width: 635px;
    height: 309px;
    background: url("../images/info_2.png");
}
.second img{
    display: block;
    float: left;
}
.second img:nth-child(1) {
    transform: translate(35px, 78px) rotate(45deg);
}

.second img:nth-child(2) {
    transform: translate(135px, 282px) rotate(15deg);
}

.second img:nth-child(3) {
    transform: translate(187px, 62px) rotate(15deg);
}

.second img:nth-child(4) {
    transform: translate(10px, 162px) rotate(30deg);
}

.second img:nth-child(5) {
    transform: translate(465px, 300px) rotate(30deg);
}

.second img:nth-child(6) {
    transform: translate(480px, 62px) rotate(90deg);
}

.second img:nth-child(7) {
    transform: translate(180px, -305px) rotate(80deg);
}

.second img:nth-child(8) {
    transform: translate(300px, -22px) rotate(70deg);
}

.second img:nth-child(9) {
    transform: translate(280px, -333px) rotate(60deg);
}


.second.current img{
transition: all 1s;
    transform: none;
}

/*第三屏*/
.third{
    padding:0 90px;
    position: relative;

}
.third>div{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.third .info{
    width: 631px;
    height: 278px;
    background: url("../images/info_3.png");
}
.third .circle{
    width: 453px;
    height: 449px;
    background: url("../images/circle.png");

    animation:mov 5s infinite linear ;
}
.third .rocket{
    position: absolute;
    left: 0;
    bottom:0;
    width: 204px;
    height: 204px;
    background: url("../images/rocket.png") no-repeat;
    transform: translate(500px,210px);
}
.third.current .rocket{
    /* 过渡*/
    transition:all 1s;
    transform: translate(1511px, -400px);

}

@keyframes mov {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/*第4屏*/
.fourth{
    padding:0 85px;
}
.fourth>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.fourth .search{
    width: 529px;
    height: 430px;
    position: relative;
    overflow: hidden;
    transform: translateX(-100%);

}
.search .input{
    width: 529px;
    height: 66px;
    background: url(../images/search.png);

}
.search .key{
    position: absolute;
    left: 20px;
    top: 24px;
    width: 0;
    /*width: 100px;*/
    height: 22px;
    background: url(../images/key.png) left center no-repeat;
}
.fourth .warp {
    width: 529px;
    height: 372px;
    transform: translateY(-13px);
    overflow: hidden;
}
.search .content{
    width: 100%;
    height: 100%;
    background: url(../images/result.png) no-repeat;
    transform: translateY(-100%);
}

.fourth .info {
    width: 612px;
    height: 299px;
    background: url("../images/info_4.png");
}
.fourth.current .search{
    transition: all .5s;
    transform: translateX(0px) ;
}

.fourth.current .key{
    transition: all .7s steps(5) 1s;
    width: 99px;
}
.fourth.current .content{
    transition:all 1s 2s;
    transform: translateY(0);
}

/*第五屏*/
.fifth>div{
    display: flex;
    flex-direction: column;

}
.fifth .info{
    height: 135px;
    margin: 30px 0;
    background: url(../images/info_5.png) center center no-repeat;
}
.fifth .broswer{
    width: 1004px;
    margin: 0 auto;
    flex: 1;
    position: relative;
    background-color: rgba(255,255,255,0.15);
}
.rightline,.leftline,.topline,.bottomline{
    position: absolute;
    background-color: rgba(255,255,255,0.5);
}
.rightline{
    height: 100%;
    right: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    transform: translateY(-100%);
    opacity: 0;
}
.topline{
    width: 100%;
    top: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    transform: translateX(100%);
    opacity: 0;
}
.leftline{
    height: 100%;
    left: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    opacity: 0;
    transform: translateY(-100%);
}
.bottomline{
    width: 100%;
    bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transform: translateX(-100%);
    opacity: 0;
}
.fifth .toolbar{
    height: 80px;
    background: url("../images/toolbar.png") left bottom;
    opacity: 0;
}
.box span{
    position: absolute;
    width: 920px;
    height: 27px;
    left: 73px;
    top: 31px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    opacity: 0;
}
.line{
    position: absolute;
    height: 29px;
    width: 100%;
    bottom:0 ;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.extra{
    position: absolute;
    height: 29px;
    width: 394px;
    right: 0;
    bottom: 0;
    background: url("../images/extra.png") no-repeat;
    opacity: 0;
}

/*动画*/
.fifth.current .rightline{
    transition: all .9s;
    transform: translateY(0);
    opacity: 1;
}
.fifth.current .topline{
    transition: all 1.5s;
    transform: translateX(0);
    opacity: 1;
}
.fifth.current .leftline{
    transition: all .9s;
    transform: translateY(0);
    opacity: 1;

}
.fifth.current .bottomline{
    transition: all 1.5s;
    transform: translateX(0);
    opacity: 1;
}
.fifth.current .box span{
    transition: all 1s 1.5s;
    opacity: 1;
}
.fifth.current .toolbar{
    transition: all 1s 2s;
    opacity: 1;
}
.fifth.current .extra{
    transition: all 1s 2s;
    opacity: 1;
}